{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la météo des villes{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}

    <!-- Content (les pages) -->
    <div class="col-9">

        <h1 class="mb-5">Bienvenue sur la météo des villes !</h1>
        {% for key,this_city in cities_list %}
        <div class="item item--bg-{{ this_city.weather }}">
            <div class="item--city"><a href="{{ path('main_set_city', {id: key}) }}">{{ this_city.city }}</a></div>
            <div class="item--forecast">{{ this_city.date }} : {{ this_city.min }}°C / {{ this_city.max }}°C</div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
